<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    /* Styles CSS pour le formatage du PDF */
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
    /* ... autres styles CSS ... */
  </style>
</head>
<body>
  <h1>Tableau de bord</h1>

  <% @travels.each do |travel| %>
    <p><strong><%= travel.title %></strong></p>
    <h1>coucou</h1>
  <% end %>
</body>
</html>
