<div class="wrapper-bis">


  <% Travel.where(user: current_user).each do |t| %>
  <div class="item">
     <%= link_to travel_path(t) do %>
    <div class="polaroid"><img src="<%= t.presentation_img_url %>" alt="Card image cap">
      <div class="caption btn"><%= t.destination %></div>
    </div>
    <% end %>
  </div>
<% end %>

</div>
