<div class="container mt-3">
  <div class="row rowalign-item-center justify-content-center">

    <div class="cards">
      <% params[:result].each do |destination| %>
        <div class="card m-2" id="card-id">
          <img class="card-img-top" src= <%= destination["img_src"]%> alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title"><p><%= destination["pays"] %></p></h5>
            <p class="card-text"><p><%= destination["ville"] %></p></p>
          </div>

          <a href="#" class="btn btn-card-destination">En savoir plus</a>
        </div>
      <% end %>
    </div>

  </div>
</div>
