<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('gifhomepage.gif')%>)">
  <div class="container">
    <h1 class="text-center"><strong>Choisissez TravelFlex</strong></h1>

    <p class="text-center">Pour voyager, il faut être flex</p>
      <div class="cards-homepage mt-4">
        <div class="d-flex justify-content-center gap-3">
          <%= link_to "Ma destination",  travels_path, class: "btn-home" %>

          <%= link_to "Inspirez-moi", search_path, class: "btn-home" %>
        </div>
      </div>
  </div>
</div>
