.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-padding  {
  padding:  0px !important;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.bck-img {
  background-image: url('search_background.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
