.btn-card-destination {
  border-radius: 8px;
  color: whitesmoke;
  background-color: #000000;
  margin-top: 5px;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
  // position: absolute;
  // bottom: 10px;
  // right: 10px;

  &:hover {
    color: white;
    background-color: #0AAFE6
  }
}

.btn-home-one {
  width: 130px;
  float: right;
  text-align: center;
  padding: 2px;
  color: white;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  font-family: $ledger-font;
  transition: all 0.5s;
  // box-shadow : 1px 1px 1px 0px rgb(216,199,188);
  // opacity: 0.7;
  border: 1px solid white;

  &:hover {
    color: black;
    background-color: #fff;
    // opacity: 1;
  }
}

.btn-home-two {
  width: 170px;
  text-align: center;
  color: white;
  background-color: transparent;
  padding: 20px;
  text-decoration: none;
  font-family: $ledger-font;
  transition: all 0.5s;
  // box-shadow : 1px 1px 1px 0px rgb(216,199,188);
  // opacity: 0.7;
  border: 1px solid white;
  margin: 0 auto;

  &:hover {
    color: black;
    background-color: #fff;
    // opacity: 1;
  }
}

// .input-home {
//   width: 100px;
//   transition: all 2s ease-out;
// }

#destination {
  margin-top: 20px;
  border: none;
  width: 80%;
  border-bottom: 1px solid white;
  font-family: $barlow-font;
  background-color: transparent;
  text-align: left !important;
  color: white;

  &:focus {
    outline: none !important;
  }

}

#destination::placeholder {
  color: white;
  font-size: 20px;
}
