body {
  background-repeat: no-repeat;
  background-size: cover;
}

.carouselExampleIndicators {
  background-color: $dark-blue;
}

#new_travel {
  fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  legend {
    display: none;
  }
}

.carousel-inner .form-check {
  padding: 0px 10px;
}

.carouselstep {
  position: relative;
}

.category-selector:checked + label {
  color: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  opacity: 0.6;
}

.carousel-control-next-icon {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.carousel-control-prev-icon {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.carousel-bg-color {
  background-color: $dark-blue;
}

.carousel-indicators [data-bs-target] {
  background-color: transparent;
  color: black;

  // &:hover {
  //   background-color: #000000;
  // }
}
// .carousel-indicators {
//   bottom: 80px;
// }

.questionform {
  color: #000000;
  text-align: center;
}

.carousel-item {
  height: 70vh;
  margin-top: 10px;

}

.bg-white {
  background-color: transparent
}

h3 {
  font-weight: bold;
}
