.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // border-radius: 8px;
  position: relative;
  overflow: hidden;
  // box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  height: fit-content;
  width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.card-id {
  border-radius: 10px;
  overflow: hidden;
  width: 21rem;
  // box-shadow: 5px 3px 10px rgba(0, 0, 0, 0);
}

.card-destination {
  align-items: center;
  background-size: cover;
  background-position: center;
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100px;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // width: 100%;

  img {
    width: fit-content;
    height: 300px;
    object-fit: cover;
  }

  h2 {
    font-weight: bold;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 17px;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 270px;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all ease-in-out 0.3s;
  p {
    font-family: $barlow-font;
  }
}

.homecard {
  form {
    display: flex;
    align-items: flex-end;
  }
  background-color: transparent;
  // border-bottom: 1px solid white;
  margin: 30px 0px;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
