#new_travel {
  fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  legend {
    display: none;
  }
}

.carousel-inner .form-check {
  padding: 0px 10px;
}

.carouselstep {
  position: relative;
}

.category-selector:checked + label {
  border: solid 3px #2984DA !important;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.carousel-indicators [data-bs-target] {
  background-color: #F68712;

  &:hover {
    background-color: #2984DA;
  }
}

.questionform {
  color: $blue-flex;
  text-align: center;
}

.carousel-item {
  height: 70vh;
}
