.modal-title {
  color: #0AAFE6;
  display: flex; align-content:baseline;
  font-weight: bold;
  font-family: "Raleway";
}

.modal-sous-title {
  color: #0AAFE6;
  display: flex; align-content: center;
  font-weight: bold;
  font-family: "Raleway";
}

.card-img-top {
  border-radius: 8px;
}

.mapform {
  border-radius: 8px;
}

.modal-content {
  border-radius: 8px;
}
