.modal-header {
  color: white;
  background-color: #030922;
}

.modal-title {
  color: white;
  display: flex; align-content:baseline;
  font-weight: bold;
  font-family: $ledger-font;
}


.modal-sous-title {
  color: white;
  background-color: #030922;
  display: flex; align-content: center;
  font-weight: bold;
  font-family: $barlow-font;
}

.modal-body {
  color: white;
  background-color: #030922;
}

.modal-footer {
  color: white;
  background-color: #030922;
}
