<div class="d-flex align-items-center justify-content-between">
  <% if item == "< 500 €" %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path "carousel/budget/budget.png"%>)">
    inf à 500€
    </div>

  <% elsif item == "de 500 € à 1 000 €" %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path "carousel/budget/budget.png"%>)">
    500€ à 1 000€
    </div>

  <% else %>
    <div>
       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path "carousel/budget/budget.png"%>)">
    sup à 1 000€
    </div>
    </div>
  <% end %>
</div>
