<div class="d-flex">
  <% if item == "< 500 €" %>
    <div>
      <%= image_tag "carousel/500.png"%>
    </div>
  <% elsif item == "de 500 € à 1 000 €" %>
    <div>
      <%= image_tag "carousel/500_1000.png"%>
    </div>
  <% else %>
    <div>
      <%= image_tag "carousel/1000.png"%>
    </div>
  <% end %>
</div>


<%# d-flex flex-row justify-content-between align-items-center %>

<%# h-25 d-flex flex-row justify-content-between align-items-center %>
