<div class="d-flex">
  <% if item == "week-end" %>
    <div>
      <%= image_tag "carousel/we.png"%>
    </div>
  <% elsif item == "1 semaine" %>
    <div>
      <%= image_tag "carousel/1sem.png"%>
    </div>
  <% else %>
    <div>
      <%= image_tag "carousel/2sem.png"%>
    </div>
  <% end %>
</div>
